@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;600;800&display=swap');

:root{
   --color-background:#151515;
   --color-text:#b4a5a5;
    --color-purple:#301b3f;


}

*{
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
}

/* font-family: 'Poppins', sans-serif; */

body{
    background-color: var(--color-background) ;
    color: var(--color-text);
}

nav{
    background-color: var(--color-purple);
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;/*vai levar o conteudo ate o limite da largura do conteúdo*/
}

nav a{
    font-size: 22px;
    text-decoration: none;
    color: var(--color-text);
    position: relative;
}

nav a + a{ /*operando somente no a que for antecedido por um a "Segundo a"*/
    margin-left: 32px;
}

nav a.active{
    color: rgb(230, 228, 228);
    font-weight: bold;
}

nav a:hover{
    color: rgb(230, 228, 228);
    transition: 700ms;

}


nav a::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-text);
    position: absolute;
    left: 0;
    bottom: -14px;
    opacity: 0;
}


nav a:hover::after{
    opacity: 1;
    bottom: -8px;


    /* transition: *o que será mudado* *duração* *curva bezier* *delay* */
    transition: all 700ms cubic-bezier(0.24, 0.11, 0.14, 0.99) ;
}


/* ============== CARD ================ */
.card {
    background-color:var(--color-text);
    width: 800px;
    height:400px;
    
    margin:40px auto;
    text-align:center;

    border-radius: 17px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.242) ;

    /*animation*/
    opacity: 0;
    animation-name:up ;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; /*usando o fowards p card vai permanecer do mesmo jeito que estava ao final a animação */
}

@keyframes up {
    0% {
        transform:translateY(15px) ;
    }100%{
        opacity: 1;
    }
}


.avatar{
}