{% extends "layout.njk" %}


{% block content %}
    <div class="card">
        <section 
        class="avatar"
        style="background: url(https://assets.bigcartel.com/product_images/222985918/Dolphin+-+WM.jpg?auto=format&fit=max&w=1000) no-repeat center center / cover;"></section>
        
        
        <section class="details">

            <h3>Details</h3>

                <div class="item">
                    <div>Captain</div>
                    <div>Zaphod Beeblebrox</div>
                </div>
        
                <div class="item">
                    <div>Ocupation</div>
                    <div>Former President of the Galaxy</div>
                </div>

                <div class="item">
                    <div>Captain</div>
                    <div>Zaphod Beeblebrox</div>
                </div>
        </section>
    </div>
{% endblock %}